xml/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://JohnRBorb.github.io/xml"
    targetNamespace="http://JohnRBorb.github.io/xml"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Hotels directory schema for CSE 445 Assignment 4 (XML)
    </xsd:documentation>
  </xsd:annotation>

  <!-- Root element -->
  <xsd:element name="Hotels" type="HotelsType"/>

  <!-- ========== Root Type ========== -->
  <xsd:complexType name="HotelsType">
    <xsd:sequence>
      <xsd:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ========== Hotel Type ========== -->
  <xsd:complexType name="HotelType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Address" type="AddressType"/>
    </xsd:sequence>

    <!-- Optional and required attributes -->
    <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="ID" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- ========== Address Type ========== -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string"/>
      <xsd:element name="Street" type="xsd:string"/>
      <xsd:element name="City" type="xsd:string"/>
      <xsd:element name="State" type="xsd:string"/>
      <xsd:element name="Zip" type="xsd:string"/>
      <xsd:element name="NearestAirport" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ========== Phone Type (with pattern restriction) ========== -->
  <xsd:simpleType name="PhoneType">
    <xsd:restriction base="xsd:string">
      <!-- e.g., 480-968-8885 -->
      <xsd:pattern value="\d{3}-\d{3}-\d{4}"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
